<h1 matDialogTitle>画像サイズを編集</h1>

<mat-dialog-content>
  Dialog content
  <image-cropper
    [imageFile]="imageURL"
    [maintainAspectRatio]="true"
    [aspectRatio]="4 / 3"
    format="png"
    (imageCropped)="imageCropped($event)"
    (imageLoaded)="imageLoaded()"
    (cropperReady)="cropperReady()"
    (loadImageFailed)="loadImageFailed()"
  ></image-cropper>
  <img [src]="croppedImage" />
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-button matDialogClose>キャンセル</button>
  <button mat-raised-button color="primary">保存</button>
</mat-dialog-actions>
