.avater {
  width: 160px;
  display: block;
  margin: 0 auto 16px;
  &__image {
    border-radius: 50%;
  }
}
image-cropper {
  display: none;
}

image-cropper.active {
  display: block;
  width: 300px;
  margin: 0 auto 16px;
}
