<div class="form">
  <div class="form__map">
    <app-google-map-small></app-google-map-small>
  </div>

  <form [formGroup]="form" class="form__body" (ngSubmit)="submit()">
    <mat-slide-toggle
      formControlName="public"
      [(ngModel)]="isChecked"
      color="primary"
      class="form__public"
      ><div *ngIf="isChecked; then thenBlock; else elseBlock"></div>
      <ng-template #thenBlock>公開</ng-template>
      <ng-template #elseBlock>非公開</ng-template></mat-slide-toggle
    >
    <mat-form-field>
      <mat-label>投稿の種類</mat-label>
      <mat-select formControlName="category" required>
        <mat-option value="denger">危険箇所</mat-option>
        <mat-option value="viewPoint">絶景ポイント</mat-option>
        <mat-option value="toilet">お手洗い</mat-option>
        <mat-option value="water">水場</mat-option>
        <mat-option value="rest">休憩ポイント</mat-option>
        <mat-option value="other">その他</mat-option>
      </mat-select>
      <mat-error *ngIf="categoryControl.hasError('required')"
        >選択してください</mat-error
      >
    </mat-form-field>

    <mat-form-field>
      <mat-label>文字を入力してください</mat-label>
      <textarea
        matTextareaAutosize
        type="text"
        formControlName="content"
        placeholder="test"
        matInput
        required
      ></textarea>
      <mat-error *ngIf="contentControl.hasError('required')"
        >必須入力です</mat-error
      >
      <mat-error *ngIf="contentControl.hasError('maxlength')"
        >長すぎます</mat-error
      >
    </mat-form-field>

    <img *ngIf="imageFile" [src]="imageFile" alt="image" />
    <button
      *ngIf="!imageFile"
      type="button"
      mat-flat-button
      color="primary"
      (click)="openImageUploadDialog()"
    >
      写真を追加する
    </button>

    <button
      *ngIf="imageFile"
      mat-flat-button
      color="warn"
      (click)="deleteImage()"
      class="image__del-btn"
    >
      写真を削除
    </button>

    <button
      mat-raised-button
      color="primary"
      [disabled]="form.invalid"
      class="form__button"
    >
      投稿
    </button>
  </form>
</div>
