<google-map
  height="200px"
  width="100%"
  [center]="center"
  [zoom]="zoom"
  [options]="options"
  mapTypeId="terrain"
  class="map"
>
  <map-marker
    *ngIf="currentPosition"
    [position]="currentPosition"
    [options]="currentPositionMarkerOption"
    (mapClick)="onCurrentPositionMarkerClick()"
  >
  </map-marker>
  <map-marker
    #marker="mapMarker"
    *ngFor="let posts of posts$ | async"
    [position]="posts.currentPosition"
    [options]="changeMarkerIcons(posts.category)"
    (mapClick)="openInfoWindow(marker, window)"
  >
    <map-info-window #window="mapInfoWindow">
      <div>{{ posts.category }}</div>
      <div>{{ posts.content }}</div>
    </map-info-window>
  </map-marker>
</google-map>
