<header>
  <mat-toolbar class="toolbar">
    <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <a class="sidenav__app-name" (click)="navigate()"
      ><img src="/assets/images/YAMAPATH.png" alt=""
    /></a>
    <div *ngIf="user$ | async as user; else loginArea">
      <button mat-button (click)="logout()">Logout</button>
    </div>
    <ng-template #loginArea>
      <button mat-button routerLink="/Login">Login</button>
    </ng-template>
  </mat-toolbar>

  <mat-sidenav-container class="sidenav">
    <mat-sidenav
      #sidenav
      [fixedInViewport]="mobileQuery.matches"
      fixedTopGap="56"
      mode="mobileQuery.matches ? 'over' : 'side'"
      [opened]="!opened"
    >
      <mat-nav-list class="sidenav__list">
        <a
          (click)="sidenav.toggle()"
          routerLink=""
          routerLinkActive="active"
          mat-list-item
          >ホーム</a
        >
        <a
          (click)="sidenav.toggle()"
          *ngIf="user$ | async"
          mat-list-item
          routerLink="settings"
          routerLinkActive="active"
          >設定</a
        >
        <a
          (click)="sidenav.toggle()"
          *ngIf="user$ | async"
          mat-list-item
          routerLink="billing"
          routerLinkActive="active"
          >開発者に寄付</a
        >
      </mat-nav-list>
      <mat-divider></mat-divider>
      <mat-nav-list class="sidenav__list">
        <a
          (click)="sidenav.toggle()"
          routerLink="/terms"
          routerLinkActive="active"
          mat-list-item
          >利用規約</a
        >
        <a
          (click)="sidenav.toggle()"
          routerLink="/legal"
          routerLinkActive="active"
          mat-list-item
          >特定商取引法に基づく表記</a
        >
      </mat-nav-list>
      <mat-divider></mat-divider>
      <div>
        <p class="sidenav__copyright">© 2020 Hideki Arima</p>
      </div>
    </mat-sidenav>

    <mat-sidenav-content #wrap>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</header>
