<div class="container">
  <button mat-raised-button (click)="googleLogin()">
    Googleでログイン
  </button>
  <button mat-raised-button (click)="facebookLogin()">
    Facebookでログイン
  </button>
  <button mat-raised-button (click)="twitterLogin()">Twitterでログイン</button>

  <form [formGroup]="form">
    <mat-form-field>
      <mat-label>メールアドレス</mat-label>
      <input
        matInput
        type="email"
        formControlName="email"
        required
        autocomplete="email"
      />
      <mat-error *ngIf="emailControl.hasError('email')"
        >メールアドレスを入力してください</mat-error
      >
      <mat-error *ngIf="emailControl.hasError('required')"
        >必須入力です</mat-error
      >
    </mat-form-field>
    <mat-form-field>
      <mat-label>パスワード</mat-label>
      <input
        matInput
        type="password"
        formControlName="password"
        required
        autocomplete="current-password"
      />
      <mat-error *ngIf="passwordControl.hasError('required')"
        >必須入力です</mat-error
      >
      <mat-error *ngIf="passwordControl.hasError('minlength')"
        >6文字以上にしてください</mat-error
      >
    </mat-form-field>
    <button
      mat-raised-button
      color="primary"
      type="button"
      (click)="register()"
      [disabled]="form.invalid"
    >
      新規作成
    </button>
    <button
      mat-raised-button
      color="primary"
      type="button"
      (click)="emailLogin()"
      [disabled]="form.invalid"
    >
      login
    </button>
    <button
      mat-raised-button
      color="warn"
      type="button"
      (click)="resetPassword()"
      [disabled]="form.get('email').invalid"
    >
      reset password
    </button>
  </form>
</div>
