<div class="wrap">
  <div class="loginButton">
    <button
      mat-raised-button
      (click)="googleLogin()"
      class="loginButton__google"
    >
      <span class="loginButton__icon"
        ><img
          src="/assets/images/google-icon.svg"
          alt=""
          width="20"
          height="20"
      /></span>
      <span> Googleでログイン</span>
    </button>
    <button
      mat-raised-button
      (click)="facebookLogin()"
      class="loginButton__facebook"
    >
      <span class="loginButton__icon"
        ><img
          src="/assets/images/facebook-icon.svg"
          alt=""
          width="20"
          height="20"
      /></span>
      <span> Facebookでログイン</span>
    </button>
    <button
      mat-raised-button
      (click)="twitterLogin()"
      class="loginButton__twitter"
    >
      <span class="loginButton__icon"
        ><img src="/assets/images/twitter-3.svg" alt="" width="20" height="20"
      /></span>
      <span>
        Twitterでログイン
      </span>
    </button>
  </div>
  <mat-divider></mat-divider>
  <form [formGroup]="form">
    <mat-form-field>
      <mat-label>メールアドレス</mat-label>
      <input
        matInput
        type="email"
        formControlName="email"
        required
        autocomplete="email"
        class="emailForm"
      />
      <mat-error *ngIf="emailControl.hasError('email')"
        >有効なメールアドレスを入力してください</mat-error
      >
      <mat-error *ngIf="emailControl.hasError('required')"
        >必須入力です</mat-error
      >
    </mat-form-field>
    <mat-form-field>
      <mat-label>パスワード</mat-label>
      <input
        matInput
        type="password"
        formControlName="password"
        required
        autocomplete="current-password"
        class="passwordForm"
      />
      <mat-error *ngIf="passwordControl.hasError('required')"
        >必須入力です</mat-error
      >
      <mat-error *ngIf="passwordControl.hasError('minlength')"
        >6文字以上にしてください</mat-error
      >
    </mat-form-field>
    <button
      mat-raised-button
      color="primary"
      type="button"
      (click)="register()"
      [disabled]="form.invalid"
    >
      メールアドレスで新規作成
    </button>
    <button
      mat-raised-button
      color="primary"
      type="button"
      (click)="emailLogin()"
      [disabled]="form.invalid"
    >
      メールアドレスでログイン
    </button>
    <button
      mat-raised-button
      color="warn"
      type="button"
      (click)="resetPassword()"
      [disabled]="form.get('email').invalid"
    >
      パスワードをリセット
    </button>
  </form>
</div>
