<h2>from Algolia</h2>

<div>
  <ais-instantsearch [config]="config">
    <ais-configure [searchParameters]="searchParams"></ais-configure>
    <ais-search-box></ais-search-box>

    <ais-infinite-hits>
      <ng-template let-hits="hits" let-results="results" let-refine="showMore">
        <div *ngFor="let hit of hits" class="card">
          <!-- <feature class="card__cover"></feature> -->
          <div class="card__body">
            <figure class="card__avatar"></figure>
            <p class="card__label">{{ hit.label }}</p>
            <p class="card__content">{{ hit.content }}</p>
            <p class="card__date">
              {{ hit.createdAt | date: 'yyyy/MM/dd HH:mm' }}
            </p>
          </div>
        </div>
        <div appVisible (Visible)="refine()">checkpoint</div>
      </ng-template>
    </ais-infinite-hits>
  </ais-instantsearch>
</div>
