<div class="container" *ngIf="user$ | async as user">
  <div class="settings">
    <h1>設定</h1>
    <mat-tab-group animationDuration="0ms" class="tab-group">
      <mat-tab class="mat-tab" label="プロフィール">
        <h2 class="title">プロフィール</h2>
        <h3>名前の変更</h3>
        <p>現在の名前: {{ user.name }}</p>
        <mat-form-field>
          <input
            type="text"
            matInput
            autocomplete="off"
            placeholder="新しい名前"
            [formControl]="nameForm"
            required
          />
          <mat-error *ngIf="nameForm.hasError('required')"
            >必須入力です</mat-error
          >
          <mat-error *ngIf="nameForm.hasError('maxlength')"
            >最大文字数を超えてます</mat-error
          >
        </mat-form-field>
        <button
          mat-flat-button
          color="primary"
          [disabled]="nameForm.invalid"
          (click)="chengeUserName()"
          class="button"
        >
          更新する
        </button>
        <h3>アバターの変更</h3>
        <label class="avater">
          <img
            class="avater__image"
            [src]="croppedImage ? croppedImage : user.avaterURL"
            alt=""
          />
        </label>
        <button
          mat-flat-button
          color="primary"
          (click)="openImageChangeDialog()"
        >
          アバターを変更する
        </button>
      </mat-tab>
      <mat-tab class="mat-tab" label="決済情報">
        <h2 class="title">決済情報</h2>
        <h3>クレジットカード</h3>
        <p>
          クレジットカードは世界的な決済サービスStripeによって厳重に保管されており、漏洩の心配はありません。
        </p>
        <button mat-raised-button color="primary">
          カードを登録する
        </button>
      </mat-tab>
      <mat-tab class="mat-tab" label="退会">
        <h2 class="title">退会</h2>
        <p>退会するとすべてのデータが削除されます</p>
        <button mat-raised-button color="primary">
          退会する
        </button>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
