.card {
  border-radius: 4px;
  box-shadow: 0 0 3px #ccc;
  &__link {
    text-decoration: none;
    color: inherit;
  }
  &__image {
    width: 100%;
    max-width: 100%;
    height: 200px;
    border-radius: 14px;
    background: white center/cover;
    display: block;
    text-align: center;
  }
  &__body {
    padding: 16px;
    display: flex;
    align-items: center;
  }
  &__avatar {
    background: center/cover;
  }
  &__edit {
    position: absolute;
    top: 8px;
    right: 0px;
  }
  &__title {
    margin-bottom: 4px;
  }
  &__date {
    color: rgba(black, 0.6);
  }
  &__content {
    flex: 1;
  }
}
