<button (click)="toggle()" mat-icon-button>
  <mat-icon>filter_list</mat-icon>
</button>
<div *ngIf="visible" class="grid">
  <div class="filter">
    <p class="filter__title">カテゴリー</p>
    <mat-radio-group
      (change)="buildQueryParameterByCategories($event)"
      class="filter__radio-group"
    >
      <mat-radio-button class="filter__radio-button" value="denger"
        >危険箇所</mat-radio-button
      >
      <mat-radio-button class="filter__radio-button" value="viewPoint"
        >絶景ポイント</mat-radio-button
      >
      <mat-radio-button class="filter__radio-button" value="toilet"
        >お手洗い</mat-radio-button
      >
      <mat-radio-button class="filter__radio-button" value="water"
        >水場</mat-radio-button
      >
      <mat-radio-button class="filter__radio-button" value="rest"
        >休憩ポイント</mat-radio-button
      >
      <mat-radio-button class="filter__radio-button" value="other"
        >その他</mat-radio-button
      >
      <mat-radio-button class="filter__radio-button" value=""
        >すべてのカテゴリー</mat-radio-button
      >
    </mat-radio-group>
  </div>

  <div class="filter">
    <p class="filter__title">並び替え</p>
    <mat-selection-list
      (selectionChange)="buildQueryParameterBySort($event)"
      [multiple]="false"
    >
      <mat-list-option value="Latest"> 最新順 </mat-list-option>
      <mat-list-option value="Oldest"> 古い順 </mat-list-option>
    </mat-selection-list>
  </div>
</div>
