.sidenav {
  display: flex;
  flex-direction: column;
  &__copyright {
    color: rgba(0, 0, 0, 0.38);
    font-size: 13px;
    padding: 16px;
  }
  &__app-name {
    margin: 10px auto;
  }
}

.home {
  text-align: center;
}
