h1 {
  margin: 0;
}
img {
  width: 100%;
}

.home {
  max-width: 1024px;
  padding: 0 24px;
  margin: 56px auto;
  box-sizing: border-box;
  @media screen and (max-width: 500px) {
    max-width: 500px;
    padding: 0 8px;
    margin: 56px auto;
    box-sizing: border-box;
  }
  text-align: center;
  &__sticky {
    position: sticky;
    top: 56px;
    z-index: 1;
  }
  &__mountain-name {
    background-color: white;
    margin: 0;
    padding: 0;
  }
  &__formLink {
    position: fixed;
    bottom: 48px;
    right: 200px;
    height: 100px;
    width: 100px;
    @media screen and (max-width: 1500px) {
      position: fixed;
      bottom: 48px;
      right: 48px;
    }
    @media screen and (max-width: 500px) {
      position: fixed;
      bottom: 48px;
      right: 0px;
    }
    &__button {
      height: 100px;
      width: 100px;
      font-size: 56px;
      @media screen and (max-width: 500px) {
        height: 64px;
        width: 64px;
        font-size: 40px;
      }
    }
  }
}

.search {
  display: block;
  position: sticky;
  top: 308px;
  z-index: 100;
  &__input {
    -webkit-appearance: none;
    -moz-appearance: none;
    outline: none;
    border-radius: 16px;
    box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, 0.12);
    color: rgb(0, 0, 0, 0.87);
    line-height: 32px;
    font-size: 16px;
    padding-left: 16px;
    padding-right: 32px;
    width: 100%;
  }
  &__button {
    position: absolute;
    top: 3px;
    right: 8px;
    cursor: pointer;
    background: none;
    border: none;
    outline: none;
    height: 30px;
    width: 30px;
  }
}

.card {
  border-radius: 4px;
  box-shadow: 0 0 3px #ccc;
  &__image {
    width: 100%;
    max-width: 100%;
    height: 200px;
    border-radius: 14px;
    background: #000;
    background: #000 center/cover;
    display: block;
    text-align: center;
  }
  &__body {
    padding: 16px;
    display: flex;
    align-items: center;
  }
  &__avatar {
    background: center/cover;
  }
  &__title {
    margin-bottom: 4px;
  }
  &__date {
    color: rgba(black, 0.6);
  }
  &__content {
    flex: 1;
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 16px;
  @media screen and (max-width: 470px) {
    grid-template-columns: 1fr;
  }
}
.example-card {
  max-width: 400px;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}
