<div class="home">
  <div class="home__sticky">
    <div class="home__mountain-name">
      <h1>天城山</h1>
    </div>
    <div class="home__map">
      <iframe
        src="https://www.google.com/maps/d/embed?mid=1-Uov2ANGKaYKUV207hf7LgPu6XZFnwzp"
        width="100%"
        height="200"
      ></iframe>
    </div>
    <div class="home__formLink">
      <button
        mat-fab
        color="primary"
        routerLink="/form"
        routerLinkActive="active"
        class="home__formLink__button"
      >
        <mat-icon inline>comment</mat-icon>
      </button>
    </div>
  </div>

  <ais-instantsearch [config]="config">
    <div class="timeLine">
      <ais-configure [searchParameters]="searchParams"></ais-configure>
      <ais-search-box class="timeLine__search"></ais-search-box>

      <ais-infinite-hits>
        <ng-template
          let-hits="hits"
          let-results="results"
          let-refine="showMore"
        >
          <div class="glid">
            <mat-card *ngFor="let hit of hits" class="card">
              <mat-card-header>
                <div mat-card-avatar class="card__avatar"></div>
                <mat-card-title>UserName</mat-card-title>
                <mat-card-subtitle>{{ hit.label }}</mat-card-subtitle>
              </mat-card-header>
              <a href="{{ hit.imageURL }}">
                <div
                  *ngIf="hit.imageURL"
                  [style.background-image]="'url(' + hit.imageURL + ')'"
                  class="card__image"
                  alt="image"
                ></div>
              </a>
              <mat-card-content class="card__body">
                <p class="card__content">{{ hit.content }}</p>
                <p class="card__date">
                  {{ hit.createdAt | date: 'yyyy/MM/dd HH:mm' }}
                </p>
              </mat-card-content>
            </mat-card>
          </div>
          <div appVisible (Visible)="refine()"></div>
        </ng-template>
      </ais-infinite-hits>
    </div>
  </ais-instantsearch>
</div>
