<div class="home">
  <div class="home__sticky">
    <div class="home__mountain-name">
      <h1>天城山</h1>
    </div>
    <div class="home__map">
      <app-google-map-small></app-google-map-small>
    </div>
    <div *ngIf="user$ | async" class="home__formLink">
      <button
        mat-fab
        color="primary"
        routerLink="/form"
        routerLinkActive="active"
        class="home__formLink__button"
      >
        <mat-icon inline>comment</mat-icon>
      </button>
    </div>
  </div>

  <div>
    <app-filter></app-filter>
  </div>

  <form class="search" (ngSubmit)="routeSearch(searchControl.value)">
    <input
      class="search__input"
      type="text"
      placeholder="投稿内容を検索"
      [formControl]="searchControl"
    />
    <button class="search__button">
      <mat-icon>search</mat-icon>
    </button>
  </form>
  <div class="timeLine">
    <app-post-card [post]="post" *ngFor="let post of posts"></app-post-card>
  </div>
  <div
    infiniteScroll
    [infiniteScrollDistance]="0.1"
    [infiniteScrollThrottle]="20"
    [infiniteScrollContainer]="uiService.scrollWrapperElement"
    (scrolled)="addSearch()"
  ></div>
  <mat-progress-spinner
    class="loading"
    *ngIf="loading"
    mode="indeterminate"
    color="primary"
    [diameter]="40"
  ></mat-progress-spinner>
</div>
