<!-- <div class="container">
  <mat-toolbar color="primary" class="toolbar">
    <button mat-icon-button>
      <mat-icon>menu</mat-icon>
    </button>
    <p class="app-name">Logo</p>
    <button mat-button>Login</button>
  </mat-toolbar>
</div> -->
<mat-sidenav-container class="container">
  <mat-sidenav #sidenav mode="side">
    <mat-nav-list>
      <a mat-list-item>ホーム</a>
      <a mat-list-item>プロフィール</a>
      <a mat-list-item>設定</a>
    </mat-nav-list>
    <mat-divider
      _ngcontent-gmv-c130=""
      role="separator"
      class="mat-divider mat-divider-horizontal ng-star-inserted"
      aria-orientation="horizontal"
    ></mat-divider>
    <mat-nav-list>
      <a mat-list-item>利用規約</a>
      <a mat-list-item>特定商取引法に基づく表記</a>
    </mat-nav-list>
    <mat-divider
      _ngcontent-gmv-c130=""
      role="separator"
      class="mat-divider mat-divider-horizontal ng-star-inserted"
      aria-orientation="horizontal"
    ></mat-divider>
    <div _ngcontent-gmv-c130="" class="footer ng-star-inserted">
      <p _ngcontent-gmv-c130="" class="copyright">© 2020 Hideki Arima</p>
    </div>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar class="toolbar">
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <p class="app-name">Logo</p>
      <button mat-button>Login</button>
    </mat-toolbar>
  </mat-sidenav-content>
</mat-sidenav-container>
