<div class="container">
  <h1>
    特定商取引に関する法律に基づく表示
  </h1>
  <section>
    <h2>提供業者</h2>
    <p>ダミー株式会社</p>
  </section>
  <section>
    <h2>運営統括責任者</h2>
    <p>有馬 秀騎</p>
  </section>
  <section>
    <h2>所在地</h2>
    <p>
      静岡県伊豆市
    </p>
  </section>
  <section>
    <h2>
      お問い合わせメールアドレス
    </h2>
    <p>yamanote0421@gmail.com</p>
  </section>
  <section>
    <h2>利用料</h2>
    <p>
      当サイト上・当アプリ上で表示している有料サービス利用額です。
    </p>
  </section>
  <section>
    <h2>
      利用料以外に発生する料金等
    </h2>
    <p>
      サイトの閲覧、コンテンツのダウンロード、お問い合わせ等の際の電子メールの送受信時などに、所定の通信料が発生します。
    </p>
  </section>
  <section>
    <h2>サービス開始時期</h2>
    <p>
      有料サービスについては有料登録をし、ステータス更新後にご利用可能です。
    </p>
  </section>
  <section>
    <h2>
      返品についての特約事項
    </h2>
    <p>
      電子商品としての性質上、返品／キャンセルには応じられません。
    </p>
  </section>
</div>
